.aider*
.env
.envrc
env/
swe-bench-fine-tune/
models/
outputs/
llama-3.3-70b-instruct-code-agent-fine-tune/
Llama-3.3-70B-Instruct-bnb-4bit/
firectl
vllm/
__pycache__/
=0.45.0
llama-3.3-70b-instruct-code-agent-fine-tune-v1/